.choose-us {
  background-color: var(--color-secondary-light-bg);
  padding-bottom: 0;
  .choose-us__container {
    .choose-us__header {
      flex-direction: column;
      align-items: center;
      display: flex;
      gap: 20px;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 150px;
      }

      .choose-us__title {
        @media (min-width: 768px) {
          text-align: left;
        }
      }
      .choose-us__header-button {
        flex-shrink: 0;
      }
    }
    .choose-us__description {
      margin-top: 20px;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }
    .choose-us__cards {
      border-bottom: 1px solid var(--primary-line-color);
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      padding-bottom: 30px;
      margin-top: 20px;
      display: grid;
      gap: 24px;

      @media (min-width: 480px) {
        margin-top: 30px;
        padding-bottom: 60px;
      }

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding-bottom: 60px;
        margin-top: 60px;
        gap: 20px;
      }
      @media (min-width: 1024px) {
        gap: 50px;
      }

      .choose-us__item {
        flex-direction: column;
        border-radius: 10px;
        display: flex;
        padding: 15px;
        gap: 10px;

        .choose-us__icon {
          width: 70px;
        }
        .choose-us__title-third {
          margin-top: 10px;
        }
      }
    }
    .choose-us__video {
      text-align: center;
      transform: translateY(100px);
      margin-top: -60px;

      @media (min-width: 480px) {
        transform: translateY(150px);
        margin-top: -110px;
      }
      @media (min-width: 768px) {
        transform: translateY(225px);
        margin-top: -185px;
      }
      @media (min-width: 1024px) {
        transform: translateY(275px);
        margin-top: -235px;
      }

      iframe {
        width: 100%;
        max-width: 1200px;
        height: 200px;
        border-radius: 10px;

        @media (min-width: 480px) {
          height: 300px;
        }
        @media (min-width: 768px) {
          height: 450px;
        }
        @media (min-width: 1024px) {
          height: 550px;
        }
      }
    }
  }
}
