
*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-light-bg: #fff;
  --color-dark-blue: #051c2f;
  --color-secondary-light-bg: #f5f6f7;
  --color-gray-text: #2f4252;
  --color-primary-black-text: #000;
  --color-primary-black: #000;
  --color-pale-blue: #f5f5f8;
  --color-blue: #071eed;
  --color-light-gray: #9c9c9c;
  --color-title-secondary: #051c2f;
  --color-text-primary: #2f4252;
  --color-blue-light: #1375c3;
  --color-blue--second: #178cea;
  --primary-line-color: #cad9e8;
  --color-text-light: #cad9e8;
  --color-title-primary: #051c2f;
  --color-dark-bg: #051c2f;
  --color-primary: #39ec2a;

  --color-primary-white: #fff;

  --color-button-primary-bg: #28a745;
  --color-button-primary-text: #ffffff;
  --color-button-primary-hover-bg: #218838;
  --color-button-primary-active-bg: #1e7e34;
  --color-button-primary-light-bg: #ffffff;
  --color-button-primary-light-text: #1a1a2e;
  --color-button-primary-light-text: #1a1a2e;
  --color-button-primary-light-hover-bg: #f8f8f8;
  --color-button-primary-light-active-bg: #f0f0f0;
  --color-button-secondary-bg: transparent;
  --color-button-secondary-text: #28a745;
  --color-button-secondary-hover-bg: #28a745;
  --color-button-secondary-hover-text: #ffffff;
  --color-button-additional-bg: #f2f7fa;
  --color-button-additional-text: #034ea2;


  --color-h2-primary: #0957C3;
  --color-h2-accent: #F0F0F0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', serif;
}

p {
  font-family: 'Roboto', serif;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  font-family: 'Montserrat', serif;
  border: none;
  outline: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (min-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.animate,
.animate-left,
.animate-right {
  will-change: transform, opacity;
  overflow: hidden;
}

.no-scrolled {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 10px;
  @media (min-width: 480px) {
    padding: 0 24px;
  }
}



.title-h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--color-title-primary);

  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}
.title-h3--light {
  color: var(--color-primary-white);
}

.text {
  color: var(--color-text-primary);
  font-size: 0.87rem;
  font-weight: 300;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}
.text--white {
  color: var(--color-primary-white);
}
.text--light {
  color: var(--color-text-light);
}
.text--silver {
  color: var(--color-text-primary);
}
.text--bold {
  font-weight: 600;
  letter-spacing: 1px;
}
.text--small {
  font-size: 0.87rem;
}
.text--cursive {
  font-style: italic;
}



