.green-energy {
  background-color: var(--color-dark-bg);
  padding-bottom: 0;
  .green-energy__container {
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid var(--primary-line-color);
    padding-bottom: 60px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      gap: 50px;
    }
    .green-energy__content {
      .green-energy__title {
        @media (min-width: 768px) {
          text-align: left;
        }
      }
      .green-energy__description {
        margin-top: 15px;
      }
    }
    .green-energy__button {
      text-align: center;
      flex-shrink: 0;
      margin: 25px auto 0 auto;

      @media (min-width: 768px) {
        margin: 0;
      }
    }
  }
}
