.our-services {
  background-color: #051c2f;

  .our-services__container {
    .subtitle {
      justify-content: center;
    }
    .our-services__title {
      text-align: center;
    }
    .our-services__description {
      text-align: center;
      margin-top: 20px;
    }
    .our-services__cards {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      margin-top: 30px;
      display: grid;
      gap: 15px;

      @media (min-width: 768px) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
      }

      .our-services__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .our-services__card-image {
          img {
            object-fit: cover;
            border-radius: 12px;
            height: 170px;

            @media (min-width: 480px) {
              height: 250px;
            }
            @media (min-width: 560px) {
              height: 290px;
            }
          }
        }
        .our-services__card-content {
          margin-bottom: 15px;
          .our-services__card-title {
            font-weight: 500;
            margin-top: 20px;
            color: #fff;
            font-size: 1.1rem;
          }
          .our-services__card-description {
            color: rgba(255, 255, 255, 0.8);
            margin-top: 15px;
            line-height: 1.5;
            font-size: 0.87rem;
          }
        }
        .our-services__card-button {
          margin: 0 auto;
          margin-top: auto;
          a {
            svg {
              width: 32px;
            }
          }
        }
      }
    }
    .our-services__list {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 25px;

      @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 35px;
      }

      .our-services__item {
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: var(--color-secondary-light-bg);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #178cea;
          .our-services__item-text {
            color: var(--color-secondary-light-bg);

            .our-services__item-num {
              color: var(--color-primary-white);
            }
          }
        }

        .our-services__item-text {
          text-align: center;
          font-size: 0.87rem;
          color: #2f4252;

          .our-services__item-num {
            color: #051c2f;
            display: block;
            font-size: 1.3rem;

            @media (min-width: 768px) {
              font-size: 1.9rem;
            }
            @media (min-width: 1024px) {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}
